/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}


body {
	--body-bg: var(--dt-body-bg);
    --content-bg: var(--dt-content-bg);
    --content-color:  var(--dt-content-color);
	--link-color: var(--dt-link-color);
	--link-hover: var(--dt-link-hover);
}
[data-theme=light] {
    body {
        --body-bg: var(--lt-body-bg);
        --content-bg: var(--lt-content-bg);
        --content-color:  var(--lt-content-color);
        --link-color: var(--lt-link-color);
        --link-hover: var(--lt-link-hover);
    }
}

body {
	background-color: var(--body-bg);
	color: var(--content-color);
    transition: color .6s,background-color .6s;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}