:root {
    --sunglow: #FFCC33;
    --tulip: #E6B82E;
    --lilac: #9d42b9;
    --dodger: #41ADFF;
    --jellybean: #2874ad;
    --persian-red: #d23430;

    --dt-body-bg: #0d2538;
    --dt-content-bg: #0f2d44;
    --dt-title-color: #ffffff;
    --dt-content-color: #ced8de;
    --dt-link-color:  var(--sunglow);
    --dt-link-hover: var(--tulip);
    --lt-body-bg: #fdf6e3;
    --lt-content-bg: #eee8d5;
    --lt-title-color: #111111;
    --lt-content-color: #4e5e64;
    --lt-link-color:  var(--jellybean);
    --lt-link-hover: var(--dodger);

    //--dt-content-bg: #274053;
}